git
.git
.github
.vscode
.idea
.env
.env.*
!src/.env.production.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
Dockerfile*
!docker/**
